NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2025-01-01
SANITY_API_READ_TOKEN=
SANITY_API_WRITE_TOKEN=
RESEND_API_KEY=
RESEND_FROM_EMAIL=onboarding@resend.dev
CONTACT_NOTIFICATION_EMAIL=info@hiraadinstitute.org
NEWSLETTER_NOTIFICATION_EMAIL=info@hiraadinstitute.org
